body {
    font-family: sans-serif;
    background-color: rgb(26, 24, 24);
}
a{
    padding:20px;
    background-color:white;
}
h1{
    text-align:center;
    background-color:royalblue
    border-radius:10px
}
