body {
    font-family: sans-serif;
    background-color:yellow;
}
a{
    padding:400px;
    background-color:white;
    margin:70px;
    text-align:center;
}
a:hover {
    color: yellow;
    background-color: royalblue;
    margin:70px;
    padding:400px;
}

h1{
    text-align:center;
    background-color:royalblue;
    border-radius:15px;
    margin:300px;
    padding:20px;
    text:150px;
}
