body {
    font-family: sans-serif;
    background-color:yellow;
}
a:hover{
    padding:100px;
    background-color:white;
    margin:70px;
    text-align:center;
    color:yellow
}
h1{
    text-align:center;
    background-color:royalblue;
    border-radius:15px;
    margin:300px;
    padding:20px;
    text:150px;
}
